@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    scroll-behavior: smooth;
    background: rgb(255, 255, 255);
}

img {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3,
p,
a,
button {
    font-family: Lato, sans-serif;
    color: rgb(34, 34, 34)
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.container_background {
    max-width: 1600px;
    margin: 0 auto;
}

.header {
    background: rgb(34, 34, 34);
}

.btn_nav {
    background: none;
    border: none;
}

.navigation {
    background: rgb(34, 34, 34);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation_icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 33px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}

.navigation_icon_shop span {
    color: white;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
}
.navigation_icon_shop {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 7px;
    border-radius: 25px;
    background: rgb(241, 109, 127);
    position: absolute;
    top: 15px;
    right: -10px;
}

.mainContent_right {
    border-left: 12px solid rgb(241, 109, 127);
    padding: 0 16px;
    font-size: 32px;
    font-weight: 900;
}

.mainContent_right h1 {
    font-size: 48px;
    font-weight: 900;
}

.mainContent_right h3 {
    font-size: 32px;
    font-weight: 700;
}

span {
    color: rgb(241, 109, 127);
}


.mainContent {
    background: rgb(241, 228, 230);
    position: relative;
}

.main_menu {
    width: 232px;
    height: 550px;
    background-color: rgb(255, 255, 255);
}


.main_menu {
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: 0px -5px 10px 0px rgba(160, 160, 160, 0.5)
}

.main_menu  h2 {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    padding: 0 32px;
    margin: 12px 0;
}

.main_menu_pink a {
    color: rgb(241, 109, 127);
}

.main_menu h3 {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    padding: 0 54px;
    margin: 11px 0;
}

.main_menu_grey a {
    color: rgb(138, 138, 138);
}

.main_menu h1 {
    padding: 0 32px;
    margin: 12px 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    color: rgb(0, 0, 0)
}

.mainContent_background {
    display: flex;
    align-items: center;
}

.main_menu a {
    position: relative;
    text-decoration: none;
}

.main_menu a:hover {
    color: #000;
}

.main_menu a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(241, 109, 127);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.main_menu a:hover::before {
    transform: scaleX(1);
}

.cardlist {
    margin-top: 65px;
    margin-bottom: 96px;
}

.card-title {
    text-align: center;
}

.product_title {
    text-align: center;
    margin-bottom: 6px;
}

.product_title h2 {
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}

.product_title h3 {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: rgb(159, 159, 159);
    margin-bottom: 48px;
}

.card_background_line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.card_background_line h3, h2 {
    flex-direction: column;
    align-items: center;
}


.card_background_big {
    background: rgba(33, 22, 22, 0.7);
    width: 1140px;
    height: 180px;
}

.card_background {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(33, 22, 22, 0.7);
    width: 360px;
    height: 260px;
}

.card_background_big {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(33, 22, 22, 0.7);
    width: 1140px;
    height: 180px;
}

.cardlist h3 {
    font-size: 16px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    align-items: center;
}

.cardlist h2 {
    font-size: 24px;
    font-weight: 700;
    color: rgb(241, 109, 127);
}

.card_background_img1 {
    background-image: url("./img/Layer43.png");
    width: 360px;
    height: 260px;
}

.card_background_img2 {
    background-image: url("./img/Rectangle30.png");
    width: 360px;
    height: 260px;
}

.card_background_img3 {
    background-image: url("./img/Rectangle31.png");
    width: 360px;
    height: 260px;
}

.card_background_img4 {
    background-image: url("./img/Rectangle20.png");
    width: 1140px;
    height: 180px;
}

.card_background1 {
    background: rgba(33, 22, 22, 0.7);
    width: 1140px;
    height: 180px;
}

.product_card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
}

.card_title {
    background: rgb(248, 248, 248);
    padding: 24px;
}

.card_title h2 {
    font-size: 17px;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 12px;
}

.card_title p {
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    color: rgb(93, 93, 93);
    margin-bottom: 18px;
}

.product {
    position: relative;
}

.product_img {
    position: relative;
}

.product_dimming {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.product_dimming button a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: none;
    color: white;
    font-size: 14px;
    font-weight: 400;
    padding: 11px 13px;
    border: 1px	solid rgb(255, 255, 255);
    cursor: pointer;
    text-align: center;
}

.product_img_hover:hover~.product_dimming {
    display: flex;
}


.product h3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: rgb(241, 109, 127);
}

.product_btn {
    border: 1px solid rgb(255, 106, 106);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: rgb(242, 99, 118);
    padding: 15px 39px;
    background: none;
}

.product_btn:hover {
    border: 1px solid rgb(255, 106, 106);
    background: rgb(241, 109, 127);
    color: rgb(255, 255, 255);
    transition: 0.3s;
}

.btn_position {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 60px;
}

.advantages {
    background: rgb(34, 34, 36);
}

.block_advantages {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    gap: 30px;
}

.block_advantage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 104px 0;
    text-align: center;
}

.block_advantage h2 {
    color: rgb(251, 251, 251);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 28px;
    padding-bottom: 16px;
}

.block_advantage p {
    color: rgb(251, 251, 251);
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
}

.subscription {
    background-image: url(./img/Layer41.png);
    background-size: cover;
}

.background_linear-gradient {
    background-image: url(./img/Rectangle26.png);
    background-size: cover;
}


.background_lightening {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 223px;
}

.subscription_block {
    max-width: 359px;
    padding: 128px 0;
}

.subscription_block p {
    padding: 30px;
    text-align: center;
    font-style: italic;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.subscription_block h2 {
    font-size: 18px;
    font-weight: 900;
}

.subscription_block h3 {
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 32px;
}

form {
    display: flex;
  }

/* Стилизация текстовых полей */
input[type="email"] {
    padding: 15px;
    border: 1px solid #fff7f7;
    border-radius: 20px 0 0 20px;
  }
  
  input[type="button"] {
    padding: 15px;
    border: none;
    border-radius: 0 20px 20px 0;
    background: rgb(241, 109, 127);
    color: white;
    padding: 15px;
    border: none;
    border-radius: 0 20px 20px 0;   
  }
  
  /* Эффект при фокусе на текстовом поле */
  input[type="email"]:focus {
    border: 0.5px solid #cccccc;
  }


.footer_background {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.subscription_block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation_footer {
    background: rgb(34, 34, 34);
}

.footer_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer_copyright p {
    color: white;
    padding: 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.social_media {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 147px;
    gap: 8px;

}

.social_media_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
    width: 32px;
    height: 32px;
    border: none;
}

.social_media_btn:hover {
    background: rgb(241, 109, 127);
    transition: 0.3s;
}

.social_media_btn svg {
    padding: 8px;
}

svg:hover path{
    fill: aliceblue;
    transition: 0.3s;
}

.icons_center {
    display: flex;
    justify-content: center;
    align-items: center;
}


@media ( min-width: 769px) and (max-width: 1139px) {

    .container {
        max-width: 736px;
    }

    .container_background {
        max-width: 769px;
    }
    
    .navigation_icon {
        gap: 33px;
    }

    .navigation {
        padding: 0 32px;
    }

    .mainContent {
        justify-content: center;
    }

    .mainContent_right h1 {
        font-size: 44px;
    }
    
    .mainContent_right h3 {
        font-size: 24px;
    }

    .mainContent img {
        max-width: 386px;
    }

    .card_background{
        width: 231px;
        height: 167px;
        background-size: cover;
    }

    .card_background_img1 {
        width: 231px;
        height: 167px;
    }
    
    .card_background_img2 {
        width: 231px;
        height: 167px;
    }
    
    .card_background_img3 {
        width: 231px;
        height: 167px;
    }

    .card_background_big {
        width: 734px;
        height: 116px;
    }

    .card_background_img4 {
        width: 734px;
        height: 116px;
        margin-bottom: 109px;
    }

    .card_background_line {
        margin-bottom: 20px;
    }

    .product_title h3 {
        margin-bottom: 73px;
    }

    .product_card {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 16px;
    }
    
    .card_title h2 {
        font-size: 13px;
        font-weight: 400;
        line-height: 16px;
        margin-bottom: 12px;
    }

    .product {
        max-width: 360px;
    }

    .btn_position {
        margin-top: 32px;
    }

    .block_advantages {
        display: flex;
        flex-direction: column;
        justify-items: center;
        max-width: 360px;
        padding-bottom: 22px;
        padding: 48px 0;
    }

    .block_advantage {
        padding: 0;
    }

    .background_lightening {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 48px;
        padding: 48px 0;
    }

    .subscription_block {
        padding: 0;
        max-width: 557px;
    }

}

@media ( max-width: 768px) {
    .container {
        max-width: 343px;
    }

    .container_background {
        max-width: 343px;
    }

    .btn_nav_icon {
        display: none;
    }

    .navigation_icon {
        padding: 18px 0;
        gap: 41px;
    }

    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 22px;
    }

    .mainContent img {
        display: none;
    }

    .mainContent {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 363px;
        padding: 52px;
    }

    .mainContent_right h1 {
        font-size: 38px;
    }

    .mainContent_right h3 {
        font-size: 20px;
    }

    .card_background_line {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }

    .card_background_img4 {
        background-position: center;
        background-size: cover;
        width: 343px;
        height: 111px;
    }

    .card_background_big {
        width: 343px;
        height: 111px;
    }

    .card_background {
        width: 343px;
        height: 248px;
    }

    .background_img {
        width: 343px;
        height: 248px;
    }

    .product_card {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .block_advantages {
        display: flex;
        flex-direction: column;
        justify-items: center;
        max-width: 360px;
        padding-bottom: 22px;
        padding: 48px 0;
    }

    .block_advantage {
        padding: 0;
    }

    .background_lightening {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 48px;
        padding: 48px 0 64px 0;
    }

    .subscription_block {
        padding: 0;
        max-width: 341px;
        text-align: center;
    }

    .footer_content {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .footer_content p {
        padding: 0;
        padding-bottom: 9px;
    }

    .social_media {
        padding: 40px 0;
    }
}